.space {
    margin-bottom: 40px;
    position: relative;
    left: 112px;
  }
  .titulo{
    position: relative;
    top: 8px;
  }
  select {
    width: 150px; /* Ajusta el ancho según tus necesidades */
    height: 40px; /* Ajusta la altura según tus necesidades */
    font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
    padding: 0.375rem 0.75rem; /* Ajusta el relleno según tus necesidades */
    border-radius: 5px; /* Ajusta el radio de borde según tus necesidades */
    border: 1px solid #4d8cca; /* Ajusta el estilo del borde según tus necesidades */
    background-color: #fff; /* Ajusta el color de fondo según tus necesidades */
    color: black;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(13, 84, 160, 0.25); /* Ajusta el estilo del foco según tus necesidades */
  }
  