


<div class="container">
  <div class="dashboard">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Gestión de Pedidos</h5>
        <img [src]="Apedido" class="card-img-top" width="200" height="150" alt="..." />
        <p class="card-text">Administra los pedidos de los clientes.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary" [routerLink]="['/acceder/administracion/pedidos']">Ir a Pedidos</a>
         </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Gestión de Productos</h5>
        <img [src]="Aproducto" class="card-img-top" width="200" height="150" alt="..." />

        <p class="card-text">Administra los productos de la frutería.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary"  [routerLink]="['/acceder/administracion/productos']">Ir a Productos</a>
        </div>  
      </div>
    </div>
  </div>
</div>